.content {

	height: 836px;
	text-align: center;
}

.content div,.tick div{
	width: 200px;
	height: auto;
	float: left;
	margin: 10px;

}

.arrange ,.tick {
	width:200px;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
.arrange th,.tick th {
	background-color:#444444;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
	color:#F5F5F5;
}
.arrange tr,.tick tr {
	background-color:#888888;
}
.arrange td ,.tick td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
	color:#F5F5F5;
}
.hover {
		background-color:#ffff66;
}

.detail{
	display:none;
}

.secTitle{
	rowSpan :3;
}
